body {
  background-color: #16161a;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

.standard {
  background-color: #72757e;
}

.m3 {
  background-color: #8bd3dd;
  color: white;
}

.m5 {
  background-color: #c3f0ca;
  color: #16161a;
}

.m3-5 {
  background-color: #2cb67d;
  color: white;
}
